body {
	font-family: Verdana;
	margin: 0px;
	padding: 0px;
}
	
#container {
	#width: 80%;
	margin: 0px auto;
}
	
textarea {
	#width: 100%;
	background-color: #F9F7ED;
	border: 1px solid #4096EE;
}
	
table {
	width: 100%;
}
	
th {
	text-align: left;
	width: 40%;
}

tr th:nth-child(1), tr th:nth-child(2){
	width: 10%;	
}
	
.red {
	background-color: #D15600;
}
	
.yellow {
	background-color: #FFFF88;
}
	
.green {
	background-color: #6BBA70;
}
	
.blue {
	background-color: #C3D9FF;
}

.ui-autocomplete-input {
	margin-left:5px;
}

.ui-autocomplete {
	background-color: #FFFFFF;
	padding:0px;
	margin:0px;
	margin-left:5px;
	
	display: inline-block;
	cursor: pointer;
	font-size: 11px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	border-right:#ccc thin solid;
	border-left:#ccc thin solid;
	border-bottom:#ccc thin solid;	
	left:0px !important;
}
.ui-autocomplete li {
	list-style:none;
}

