.vertical > * {
	display: block;
}

.horizontal {
	display: table;
}

.horizontal > * {
	float: left;
}

.loader {
	display: table;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.75;
}

.loader p {
	display: table-cell;
    vertical-align: middle;
}

.loader img {
	display: block;
	margin: auto;
}
